.pokemon-card {
  text-align: center;
  margin: 4px;

  img {
    width: 100%;
    max-width: 96px;
    height: auto;
    display: block;
    margin: 8px auto 0;
  }
}

.pokemon-name {
  text-transform: capitalize;
  font-size: 0.9rem;
}
