<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pokémons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      @for (pokemon of pokemons(); track pokemon.id) {
        <ion-col size="6" size-md="4" size-lg="3">
          <ion-card class="pokemon-card">
            <img [src]="pokemon.imageUrl" [alt]="pokemon.name" loading="lazy" />
            <ion-card-content>
              <span class="pokemon-name">{{ pokemon.name }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
